body {
    background-color: #f5d142;
    font-family: 'David Libre', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top-container {
    height: 100px;
    width: 300px;
    border: 2px solid black;
    background: white;
    text-align: center;
}

#list-items-container{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

